{% load bootstrap3 %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/ajax_csrf_preset.js' %}"></script>
    <script>

      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      function onYouTubeIframeAPIReady() {
        {% for video in object_list %}
            //TODO: In real case it's better to load video_id throw ajax
             player = new YT.Player('player{{ video.id }}', {
                height: '500',
                width: '100%',
                videoId: '{{ video.video_id }}',
                events: {
                  'onReady': onPlayerReady,
                  'onStateChange': onPlayerStateChange
                }
                });
        {% endfor %}
        
      }

      function getVideoId(url){
        var match = url.match(/[?&]v=([^&]+)/);
        return match[1];
      }

      function onPlayerReady(event) {
        var url = event.target.getVideoUrl();
        var video_id = getVideoId(url);
        console.log("video "+video_id+" loaded");
        $.post( 
          "{% url 'videos:push_stat'%}", 
          {
            "video_id": video_id, 
            "stat_type":"loads" 
          }
        );
      }

      var done = new Object();

      function onPlayerStateChange(event) {
        var url = event.target.getVideoUrl();
        var video_id = getVideoId(url);
        if (event.data == YT.PlayerState.PLAYING && !done[video_id]) {
          console.log("state for video "+video_id+" changed");
          $.post( 
            "{% url 'videos:push_stat'%}", 
            {
              "video_id": video_id, 
              "stat_type":"plays" 
            }
          );
          done[video_id] = true;
        }
        
      }
    </script>
  </head>
  <body>
      <div class="container">
        <div class="span8">
        <div id="myCarousel" class="carousel slide">
          <ol class="carousel-indicators">
          {% for video in object_list %}
            <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}" class="{% if forloop.first %} active {% endif %}"></li>
          {% endfor %}
          </ol>
          <div class="carousel-inner">
          {% for video in object_list %}
            <div class="item {% if forloop.first %} active {% endif %}" style="padding-left: 15%; padding-right: 15%;">
              <div id="player{{ video.id }}"></div>
            </div>
          {% endfor %}
          </div>
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        </div>
        </div>
      </div>
  </body>
</html>